* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Roboto';
    src: url('~assets/fonts/Roboto-Regular.eot');
    src: url('~assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/Roboto-Regular.woff2') format('woff2'),
        url('~assets/fonts/Roboto-Regular.woff') format('woff'),
        url('~assets/fonts/Roboto-Regular.ttf') format('truetype'),
        url('~assets/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('~assets/fonts/Roboto-Medium.eot');
    src: url('~assets/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/Roboto-Medium.woff2') format('woff2'),
        url('~assets/fonts/Roboto-Medium.woff') format('woff'),
        url('~assets/fonts/Roboto-Medium.ttf') format('truetype'),
        url('~assets/fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
